@use '../components/base' as *;

.guess {
  font-family: $font-family;

  &__title {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-align: center;
    margin: 0;
    padding-bottom: 36px;
  }
  &__answer {
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    margin: 0;
    transition: 0.5s;
  }
  &__box {
    width: 157px;
    height: 35px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background: #d7d7d7;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__number {
    border: none;
    background-color: transparent;
    width: 102px;
    height: 15px;
    padding: 10px;
    outline: none;
  }
  &__check {
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #000;
    width: 35px;
    height: 35px;
    padding: 0;
  }
  &__check i {
    color: #fff;
  }

  &__magnifying-glass {
    color: white;
  }
}

.container {
  width: 576px;
  height: 91px;
  padding: 36px 0;
}

.line {
  display: flex;
  width: 536px;
  height: 1px;
  background-color: #000;
  justify-self: center;
}
