.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    &__content {
        position: relative;
        display: flex;
        background-color: #fff;
        padding: 20px;
        text-align: center;
        width: 576px;
        height: 316px;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__icon1 {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 154px;
        left: 41px;
    }

    &__icon2 {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 230px;
        left: 85px;
    }

    &__icon3 {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 154px;
        left: 535px;
    }

    &__icon4 {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 230px;
        left: 491px;
    }

    &__description {
        display: flex;
        align-items: center;
        margin: 0;
        margin-bottom: 30px;
        width: 393px;
        height: 60px;
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #000;

        &-name {
            margin: 0;
            font-family: inter;
            font-weight: 400;
            font-size: 12px;
            text-align: center;
            color: #000;
            width: 105px;
            height: 15px;
        }
    }

    &__input {
        display: flex;
        border-radius: 20px;
        border: none;
        padding: 0px 10px;
        width: 149px;
        height: 35px;
        background: #d7d7d7;
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-size: 12px;
        color: #7e7e7e;
    }

    &__start-button {
        border-radius: 20px;
        padding: 10px 20px;
        margin-bottom: 15px;
        width: 105px;
        height: 35px;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
        background: #000;
        color: #fff;
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-size: 12px;
        color: #fff;
        cursor: pointer;
    }

    &__close-button {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        padding: 0;
        border: 0;
        margin-right: 10px;
        height: 15px;
        width: 15px;
        background: none;
        cursor: pointer;
    }

    &__thanks {
        position: relative;
        display: flex;
        justify-items: flex-end;
        align-items: center;
        width: 463px;
        height: 245px;
        border-radius: 20px;
        padding: 20px;
        background-color: #fff;

        &-message {
            justify-self: center;
            margin-top: 75px;
            font-family: inter;
            font-weight: 400;
            font-size: 20px;
            text-align: center;
            color: #000;
        }

        &__icon1 {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 69px;
            left: 43px;
        }

        &__icon2 {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 230px;
            left: 87px;
        }

        &__icon3 {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 69px;
            left: 421px;
        }

        &__icon4 {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 230px;
            left: 377px;
        }

        &.active {
            display: block;
        }
        display: none;
    }
}
