<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./scss/style.scss" />
  </head>
  <body>
    <section class="calculator">
      <div class="container">
        <h1 class="calculator__title">Калькулятор</h1>
        <ul class="calculator__list">
          <li class="calculator__item">
            <input
              type="number"
              class="calculator__first--number"
              placeholder="Введіть число"
            />
          </li>
          <li class="calculator__item">
            <ul class="calculator__operators">
              <li class="calculator__operetor"></li>
              <li class="calculator__operetor"></li>
              <li class="calculator__operetor"></li>
              <li class="calculator__operetor"></li>
            </ul>
          </li>
          <li class="calculator__item">
            <input
              type="number"
              class="calculator__second--number"
              placeholder="Введіть число"
            />
          </li>
          <li class="calculator__item">
            <button class="calculator__button--result"></button>
          </li>
          <li class="calculator__item">
            <input
              type="text"
              class="calculator__equal"
              placeholder="Результат"
            />
            <h3 class="calculator__result"></h3>
          </li>
        </ul>
      </div>
    </section>
    <script src="./js/script.js" type="module"></script>
  </body>
</html>
