<section class="section__calculatorTime">
  <div class="container">
  <h2 class="section-title">Калькулятор часу</h2>
  <span class="section__calculatorTime--wrapInput">
    <input
      type="number"
      class="section__calculatorTime--input"
      id="inputHours"
      placeholder="Введіть число"
    />
    <p class="section__calculatorTime--error"></p>
    <button class="section__calculatorTime--button">
        <svg class="svg">
            <use xlink:href="#icon-search" aria-hidden="true"></use>
        </svg>
    </button>   
    <div class="section__calculatorTime--line"></div>
    <p class="section__calculatorTime--result">0 дн. 00:00</p>
  </span>
  <div class="secret-image" id="secretImage">
    <img src="https://i.pinimg.com/736x/ca/05/bb/ca05bb96bb0ebff1f9cca8f19cd1937f.jpg" alt="Secret Image">
</div>
  </div>

</section>
<hr class="section__calculatorTime--break" width="536px" />
<script type="module" src="./js/calculatorTime.js"></script> 
