<section class="scientiest__section">
    <h3 class="scientiest__title">Обери вченого</h3>
    <ul class="scientiest__list"></ul>

    <ul class="scientiest__buttons--list">
        <li>
            <button class="scientiest__button">Які вчені народилися в 19 ст.</button>
        </li>
        <li>
            <button class="scientiest__button">Знайти рік народження Albert Einshtein</button>
        </li>
        <li>
            <button class="scientiest__button">Відсортувати вчених за алфавітом</button>
        </li>
        <li>
            <button class="scientiest__button">Знайти вчених, прізвища яких починаються на на літеру “С” </button>
        </li>
        <li>
            <button class="scientiest__button">Відсортувати вчених за кількістю прожитих років</button>
        </li>
        <li>
            <button class="scientiest__button">Видалити всіх вчених, ім’я яких починається на “А”</button>
        </li>
        <li>
            <button class="scientiest__button">Знайти вченого, який народився найпізніше</button>
        </li>
        <li> <button class="scientiest__button">Знайти вченого, який прожив найдовше і вченого, <br> який прожив
                найменше</button></li>
        <li> <button class="scientiest__button">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
        </li>
    </ul>
</section>

<script type="module" src="../js/choose-scientiest.js"></script>