<section class="dino section">
  <h2 class="section-title">Google динозавр</h2>
  <div class="container">
    <canvas id="dino__game"></canvas>

    <hr class="line" />
  </div>
</section>
<script type="module" src="./js/sections/dinoSection/player.js"></script>
<script type="module" src="./js/sections/dinoSection/dino.js"></script>
<script type="module" src="./js/sections/dinoSection/cactusController.js"></script>
<script type="module" src="./js/sections/dinoSection/cactus.js"></script>
<script type="module" src="./js/sections/dinoSection/ground.js"></script>
<script type="module" src="./js/sections/dinoSection/score.js"></script>
