<section class="section__footer section">
  <svg class="icon">
    <use xlink:href="#icon-footer" aria-hidden="true"></use>
  </svg>
  <ul class="section__footer--list">
    <li class="section__footer--list-item">
      <a class="section__footer--list-item-link" href="tel:+3801234567890">+38(123)4567890</a>
    </li>
    <li class="section__footer--list-item">
      <a class="section__footer--list-item-link" href="mailto:codingmagic@gmail.com"
        >E-Mail: codingmagic@gmail.com</a
      >
    </li>
    <li class="section__footer--list-item">
      <a class="section__footer--list-item-link" href="#">Facebook: CodingMagic</a>
    </li>
    <li class="section__footer--list-item">
      <a class="section__footer--list-item-link" href="#">Twitter: CodingMagic</a>
    </li>
    <li class="section__footer--list-item">
      <a class="section__footer--list-item-link" href="#">Instagram: CodingMagic</a>
    </li>
  </ul>

  <div class="section__footer--subscribe">
    <input class="section__footer--subscribe-input" type="email" placeholder="Ваша ел. адреса..." />
    <button class="section__footer--subscribe-button" type="submit">Підписатися</button>
    <p class="section__footer--subInfo">
      *Підписавшись, Ви зможете отримувати інформацію про новинки на сайті
    </p>
  </div>
</section>
<script type="module" src="./js/footer.js"></script>
