<section class="football__section game">
    <div class="container">
        <svg class="football__line" width="536" height="1" viewBox="0 0 536 1">
            <use href="./images/sprite.svg#line"></use>
        </svg>

        <div class="football__content">
            <h3 class="football__title section-title">Футбол</h3>
            <div class="football__field">
                <svg class="football__ball" width="50" height="50" viewBox="0 0 50 50">
                    <use href="#icon-ball"></use>
                </svg>
            </div>
        </div>
    </div>
</section>

<script type="module" src="../js/football.js"></script>