<section class="football_section">
    <div class="container">
        <svg class="football_line" width="536" height="1" viewBox="0 0 536 1"> <!--Запитати за довжину-->
            <use href="./images/sprite.svg#line"></use>
        </svg>

        <div class="football_content">
            <h3 class="section-title">Футбол</h3>

            <svg class="football_ball" width="50" height="50" viewBox="0 0 50 50">
                <use href="./images/ball.svg"></use>
            </svg>

            <div class="football_field">
            </div>
        </div>
    </div>
</section>