<section class="guess">
  <div class="container">
    <h2 class="guess__title">Вгадай число, яке загадав комп’ютер</h2>
    <div class="guess__container">
      <div class="guess__box">
        <input type="number" class="guess__number" placeholder="Введіть число" />
        <button class="guess__check"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <h3 class="guess__answer"></h3>
    </div>
  </div>
  <span class="line"></span>
</section>
<script src="https://kit.fontawesome.com/e88f049ac4.js" crossorigin="anonymous"></script>
<script type="module" src="../js/guess.js"></script>
