<section class="guess">
  <div class="container">
    <h2 class="guess__title">Вгадай число, яке загадав комп’ютер</h2>
    <div class="guess__container">
      <div class="guess__box">
        <input type="number" class="guess__number" placeholder="Введіть число" />
        <button class="guess__check">
          <svg class="guess__magnifying-glass" width="15" height="15">
            <use href="../icons/magnifying-glass.svg"></use>
          </svg>
        </button>
      </div>
      <h3 class="guess__answer"></h3>
    </div>
  </div>
  <span class="line"></span>
</section>
<script type="module" src="../js/guess.js"></script>
