<header class="header">
    <div class="container">
        <div class="header__content">
            <svg class="header__logo" width="93" height="38">
                <use href="#icon-logo"></use>
            </svg>
            <nav>
                <ul class="header__nav">
                    <li class="header__menu">
                        <button class="header__dropdown">
                            Інтерактив
                            <svg class="header__arrow" width="9" height="13" aria-hidden="true">
                                <use href="#icon-arrow"></use>
                            </svg>
                        </button>
                        <div>
                            <ul class="header__dropdown-menu is-hidden">
                                <li><button class="header__dropdown-link">Числовий</button></li>
                                <li><button class="header__dropdown-link">Ігровий</button></li>
                                <li><button class="header__dropdown-link">Ознайомчий</button></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#our_team" class="header__link">Наша команда</a></li>
                    <li><a href="#contacts" class="header__link">Контакти</a></li>
                </ul>
            </nav>
        </div>
        <div class="header__settings" aria-label="Перемкнути тему">
            <label class="header__switch">
                <input type="checkbox" class="header__checkbox" />
                <span class="header__slider"></span>
            </label>
            <p class="header__welcome">Вітаємо, User!</p>
        </div>
    </div>
</header>
<script type="module" src="./js/sections/header/header.js"></script>
