<section class="modal">
    <div class="modal__content">
        <button class="modal__close-button">
            <svg width="15" height="15" aria-hidden="true">
                <use href="#icon-close"></use>
            </svg>
        </button>
        <p class="modal__description">
            Привіт!<br />
            Ви потрапили на сайт інтерактивних ігор та завдань<br />
            Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br />
            Бажаємо Вам гарно провести час!
        </p>

        <p class="modal__description-name">Введіть своє ім’я:</p>
        <input type="text" class="modal__input" placeholder="Ваше ім’я..." />
        <button class="modal__start-button">Зберегти</button>
    </div>
    <div class="modal__thanks">
        <button class="modal__close-button">
            <svg width="15" height="15" aria-hidden="true">
                <use href="#icon-close"></use>
            </svg>
        </button>
        <p class="modal__thanks-message">Дякую за підписку!</p>
    </div>
</section>

<script type="module" src="./js/sections/modal/modal.js"></script>
