<section class="number">
  <h2 class="number__title section-title">Введіть 3 числа</h2>
  <div class="number__container">
    <input type="number" placeholder="Введіть число" class="number__input number__input--first" />
    <input type="number" placeholder="Введіть число" class="number__input number__input--second" />
    <input type="number" placeholder="Введіть число" class="number__input number__input--third" />
  </div>
  <p class="number__answer">Найбільше число, яке ви ввели - <span>(число)</span></p>
</section>
<script
  type="module"
  src="../js/number
.js"
></script>
