<section class="ourteam section introductory">
  <div class="container">
    <h2 class="ourteam__title section-title">Наша команда</h2>

    <div class="ourteam__slider">
      <button class="ourteam__arrow ourteam__arrow--left">
        <img src="../icons/leftarrow.svg" alt="Left Arrow" />
      </button>

      <div class="ourteam__track">
        <div class="ourteam__slide active">
          <div class="ourteam__card">
            <div class="ourteam__avatar"></div>
            <p class="ourteam__name">Станіслав</p>
            <p class="ourteam__desc">Тімлід команди, зробив секції динозаврик та наша команда</p>
          </div>
        </div>

        <div class="ourteam__slide">
          <div class="ourteam__card">
            <div class="ourteam__avatar"></div>
            <p class="ourteam__name">Валентин</p>
            <p class="ourteam__desc">Скрам-майстер команди, зробив секції футбол та вчені</p>
          </div>
        </div>

        <div class="ourteam__slide">
          <div class="ourteam__card">
            <div class="ourteam__avatar"></div>
            <p class="ourteam__name">Роман</p>
            <p class="ourteam__desc">Розробник, зробив секцію високосний рік</p>
          </div>
        </div>

        <div class="ourteam__slide">
          <div class="ourteam__card">
            <div class="ourteam__avatar"></div>
            <p class="ourteam__name">Марта</p>
            <p class="ourteam__desc">Розробник, зробила секції калькулятор та вгадай число</p>
          </div>
        </div>

        <div class="ourteam__slide">
          <div class="ourteam__card">
            <div class="ourteam__avatar"></div>
            <p class="ourteam__name">Дамір</p>
            <p class="ourteam__desc">
              Розробник, зробив секції калькулятор часу та футер,і також презентацію
            </p>
          </div>
        </div>

        <div class="ourteam__slide">
          <div class="ourteam__card">
            <div class="ourteam__avatar"></div>
            <p class="ourteam__name">Ілля</p>
            <p class="ourteam__desc">Розробник, зробив секцію хедер та модалку</p>
          </div>
        </div>

        <div class="ourteam__slide">
          <div class="ourteam__card">
            <div class="ourteam__avatar"></div>
            <p class="ourteam__name">Артур</p>
            <p class="ourteam__desc">Розробник, зробив секції найбільше число та камінь ножиці папір</p>
          </div>
        </div>
      </div>

      <button class="ourteam__arrow ourteam__arrow--right">
        <img src="../icons/rightarrow.svg" alt="Right Arrow" />
      </button>
    </div>

    <div class="ourteam__dots"></div>

    <hr class="line" />
  </div>
</section>
<script type="module" src="./js/ourteam.js"></script>
