<section class="rps">
  <h2 class="rps__title section-title">Камінь - ножиці - папір</h2>

  <div class="rps__container">
    <div class="rps__choices">
      <button class="rps__choice" data-choice="Камінь">
        <img src="../icons/rock.png" alt="rock" class="rps__icon" />
      </button>
      <button class="rps__choice" data-choice="Ножиці">
        <img src="../icons/scissors.png" alt="scissors" class="rps__icon" />
      </button>
      <button class="rps__choice" data-choice="Папір">
        <img src="../icons/paper.png" alt="paper" class="rps__icon" />
      </button>
    </div>

    <div class="rps__info">
      <p class="rps__score">Рахунок:</p>
      <p class="rps__pc">Комп’ютер - <span>0</span></p>
      <p class="rps__user">Ви - <span>0</span></p>
    </div>
  </div>

  <p class="rps__status rps__status--win">Ви виграли раунд!</p>

  <button class="rps__btn">Варіант комп'ютера</button>
</section>
<script type="module" src="../js/rps.js"></script>
